**#AUTHOR:LESA ASHRAF**

**Task 2: MOVIE RECOMMENDATION SYSTEM**

In [1]:
import numpy as np # linear algebra
import pandas as pd
import os
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from difflib import get_close_matches

In [2]:
df = pd.read_csv('./Top_10000_Movies.csv', lineterminator='\n')
df

,Unnamed: 0,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre,overview,revenue,runtime,tagline
0,0,580489,en,Venom: Let There Be Carnage,5401.308,2021-09-30,6.8,1736,"['Science Fiction', 'Action', 'Adventure']",After finding a host body in investigative rep...,424000000,97.0,NaN
1,1,524434,en,Eternals,3365.535,2021-11-03,7.1,622,"['Action', 'Adventure', 'Science Fiction', 'Fa...",The Eternals are a team of ancient aliens who ...,165000000,157.0,In the beginning...
2,2,438631,en,Dune,2911.423,2021-09-15,8.0,3632,"['Action', 'Adventure', 'Science Fiction']","Paul Atreides, a brilliant and gifted young ma...",331116356,155.0,"Beyond fear, destiny awaits."
3,3,796499,en,Army of Thieves,2552.437,2021-10-27,6.9,555,"['Action', 'Crime', 'Thriller']",A mysterious woman recruits bank teller Ludwig...,0,127.0,"Before Vegas, one locksmith became a legend."
4,4,550988,en,Free Guy,1850.470,2021-08-11,7.8,3493,"['Comedy', 'Action', 'Adventure', 'Science Fic...",A bank teller called Guy realizes he is a back...,331096766,115.0,Life's too short to be a background character.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,530,en,A Grand Day Out,9.266,1990-05-18,7.5,594,"['Adventure', 'Animation', 'Comedy', 'Science ...",Wallace and Gromit have run out of cheese and ...,0,23.0,NaN
9996,9996,15934,en,El cantante,10.417,2006-09-12,7.0,80,"['History', 'Drama', 'Music']","The rise and fall of salsa singer, Héctor Lavo...",0,116.0,"Based on the true story of the King of Salsa, ..."
9997,9997,162215,en,How I Live Now,9.520,2013-09-10,6.6,705,"['Drama', 'Action', 'Thriller', 'War']",An American girl on holiday in the English cou...,0,101.0,Love will lead you home
9998,9998,5723,en,Once,9.267,2007-03-23,7.4,990,"['Drama', 'Music', 'Romance']",A vacuum repairman moonlights as a street musi...,20710513,85.0,How often do you find the right person?
9999,9999,311667,en,Manhattan Night,9.273,2016-05-20,6.0,304,"['Drama', 'Mystery', 'Thriller']",Porter Wren is a Manhattan tabloid writer with...,0,113.0,No reporter can resist a siren.

In [ ]:
df[df['vote_average'] > 8.7]

,Unnamed: 0,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre,overview,revenue,runtime,tagline
577,577,820232,ja,鬼滅の刃 兄妹の絆,92.484,2019-03-29,9.4,17,"['Action', 'Animation', 'Fantasy']",Tanjiro finds his family slaughtered and the l...,0,105.0,NaN
2132,2132,635702,sr,Јужни Ветар 2: Убрзање,34.795,2021-01-01,9.3,4,"['Crime', 'Drama', 'Thriller']",Sequel to the movie South Wind.,0,0.0,NaN
2631,2631,533514,ja,劇場版 ヴァイオレット・エヴァーガーデン,26.247,2020-09-18,8.8,142,"['Animation', 'Drama', 'Fantasy', 'Romance']",As the world moves on from the war and technol...,20339624,140.0,NaN
3285,3285,524653,en,Sex School: Dorms of Desire,23.880,2018-05-16,9.0,1,['Comedy'],"Boning up for the finals, the girls of CSU won...",0,67.0,NaN
4137,4137,441663,en,40 y 20,16.827,NaN,9.0,4,[],A comedy series about a divorced dad who likes...,0,0.0,NaN
4626,4626,802119,en,All About Sex,18.300,2021-09-16,9.0,1,"['Comedy', 'Drama', 'Romance']",Three friends in their mid-20s struggle to nav...,0,75.0,"Love, sex, relationships and everything in bet..."
4712,4712,278698,en,Avatar Spirits,14.941,2010-06-22,8.8,10,['Documentary'],"Bryan Konietzko and Michael Dante DiMartino, c...",0,32.0,"In 2002, two friends set out to create a groun..."
4835,4835,529414,es,Franco Escamilla: Por La Anécdota,18.987,2018-06-08,9.2,88,['Comedy'],Mexican stand-up comedian Franco Escamilla dra...,0,66.0,NaN
5010,5010,329824,zh,Ebola Zombies,14.316,2015-03-23,9.5,2,"['Horror', 'Science Fiction']",A group of thieves break into an industrial co...,0,90.0,NaN
5238,5238,553512,ko,번 더 스테이지: 더 무비,17.167,2018-11-15,9.2,309,"['Documentary', 'Music']",Burn the Stage: The Movie is the first movie f...,20,85.0,"From the deserts to the seas, we were always t..."
5607,5607,210769,en,Scooby-Doo! Adventures: The Mystery Map,17.053,2013-07-22,8.8,52,"['Family', 'Comedy', 'Mystery', 'Animation']",Get ready to experience the world-famous Scoob...,0,42.0,NaN
5835,5835,759923,th,พร้อมรัก ยัยตุ๊กตาซ้อมรัก,13.064,2020-10-30,9.0,4,"['Comedy', 'Romance']",The story of chaos both body and mind occurs w...,0,98.0,NaN
6261,6261,585257,ru,Огонь,11.187,2020-12-24,8.8,80,"['Action', 'Drama']",A heroic story about firefighters and rescuers...,0,120.0,Some fires can't be tamed.
6347,6347,739936,fr,French Lolita,13.514,1998-02-24,9.3,2,[],NaN,0,0.0,NaN
7043,7043,436951,es,Bob Esponja: Días de Cangreburgers,13.872,2016-06-08,9.5,4,[],NaN,0,0.0,NaN
8020,8020,348697,es,Colegialas lesbianas y el placer de pervertir,11.396,1983-02-21,9.1,4,['Comedy'],Aunt Mary is not happy with her recent marriag...,222087,76.0,NaN
8049,8049,753230,es,Las tres muertes de Marisela Escobedo,11.569,2020-10-14,9.0,175,"['Documentary', 'Crime']",Follows a mother's tireless crusade to jail he...,0,109.0,NaN
9587,9587,884270,en,The House of Gaunt: Lord Voldemort Origins,8.705,2021-09-15,9.0,2,['Fantasy'],NaN,0,0.0,NaN
9772,9772,657847,en,Mr. Robot: Behind the Mask,10.006,2017-01-01,9.1,7,['Documentary'],Mr. Robot documentary,0,0.0,NaN

In [ ]:
df = df[['original_title', 'genre', 'overview', 'tagline']]

In [ ]:
df.isna().sum()

original_title       0
genre                0
overview           100
tagline           2920
dtype: int64

# Removing unnecessary parts in a sentence

In [ ]:
def rep(what, s):
    for item in what:
        s = s.replace(item, '')
    return s
  
df.fillna('', inplace=True)
df['genre'] = df['genre'].apply(lambda x: rep([',', '[', ']', "'"], x))
df['new'] = df['original_title'] + ' ' + df['genre'] + ' ' + df['overview'] + ' ' + df['tagline']
df.isnull().sum()

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:5182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

original_title    0
genre             0
overview          0
tagline           0
new               0
dtype: int64

# Data vectorization

*Transform a count matrix to a normalized tf or tf-idf representation.*

*Tf means term-frequency while tf-idf means term-frequency times inverse document-frequency. This is a common term weighting scheme in information retrieval, that has also found good use in document classification.*

*The goal of using tf-idf instead of the raw frequencies of occurrence of a token in a given document is to scale down the impact of tokens that occur very frequently in a given corpus and that are hence empirically less informative than features that occur in a small fraction of the training corpus.*

In [ ]:
vectorizer = TfidfVectorizer()
transformed_data = vectorizer.fit_transform(df['new'].values)
print(transformed_data)

  (0, 15267)	0.2732294380056773
  (0, 5428)	0.2732294380056773
  (0, 15458)	0.1332686951038846
  (0, 24932)	0.16269657484290734
  (0, 19670)	0.0377780306017594
  (0, 8881)	0.20071896632827568
  (0, 1262)	0.18514952254876416
  (0, 9247)	0.15146631667436114
  (0, 19144)	0.08643516585353463
  (0, 9990)	0.1317742228581233
  (0, 18723)	0.0944167727037104
  (0, 27469)	0.2615890480913031
  (0, 1184)	0.14947185280640007
  (0, 28025)	0.06399184004957875
  (0, 3945)	0.2300492801825729
  (0, 8804)	0.19548474526106815
  (0, 23199)	0.175585367266712
  (0, 14491)	0.22179029210259085
  (0, 13911)	0.044093790545450456
  (0, 3493)	0.15065182987852424
  (0, 13325)	0.18946393433341213
  (0, 10447)	0.16179465562354636
  (0, 936)	0.0810903824094842
  (0, 862)	0.07646474393850715
  (0, 719)	0.06681587529004712
  :	:
  (9999, 13006)	0.06303341704033295
  (9999, 30878)	0.04078582844165432
  (9999, 24438)	0.1417676864437632
  (9999, 4233)	0.053438717284544156
  (9999, 19306)	0.07545789742183849
  (9999, 12857)	0.05044868456506437
  (9999, 16300)	0.059076068731877256
  (9999, 28018)	0.09477722341021881
  (9999, 14592)	0.10922691391449589
  (9999, 12681)	0.14556742285478216
  (9999, 19798)	0.058426587770832636
  (9999, 28152)	0.048930817568905105
  (9999, 4432)	0.06992431631651089
  (9999, 13042)	0.11857809464414003
  (9999, 14426)	0.12065413188020273
  (9999, 1438)	0.10935266290941097
  (9999, 28330)	0.02608238858347849
  (9999, 28592)	0.12441954995072235
  (9999, 1406)	0.0444931990601899
  (9999, 30636)	0.04758469449149819
  (9999, 10780)	0.08792956125361136
  (9999, 19791)	0.04473611726026364
  (9999, 19670)	0.05452263143948538
  (9999, 28025)	0.06926651789244921
  (9999, 23199)	0.1267056026102611

# Finding similarity between movies

Given two vectors of attributes, A and B, the cosine similarity, cos(θ), is represented using a dot product and magnitude as

In [ ]:
sim = cosine_similarity(transformed_data)
sim

array([[1.        , 0.06480214, 0.03884375, ..., 0.01495285, 0.00971828,
        0.0287399 ],
       [0.06480214, 1.        , 0.08589136, ..., 0.05076597, 0.05054849,
        0.05136352],
       [0.03884375, 0.08589136, 1.        , ..., 0.04118718, 0.0377957 ,
        0.05420547],
       ...,
       [0.01495285, 0.05076597, 0.04118718, ..., 1.        , 0.0728812 ,
        0.05820077],
       [0.00971828, 0.05054849, 0.0377957 , ..., 0.0728812 , 1.        ,
        0.05810926],
       [0.0287399 , 0.05136352, 0.05420547, ..., 0.05820077, 0.05810926,
        1.        ]])

In [ ]:
movie_name = input()
closest_name = get_close_matches(movie_name, df.original_title.values, 1)[0]
print(closest_name)
movie = df[df['original_title'] == closest_name]

 scooby doo

Scooby-Doo

In [ ]:
movie_index = movie.index.values[0]
ls = sorted(list(enumerate(sim[movie_index])), key=lambda x: x[1], reverse=True)
for i in ls[1:9]:
    print(df.loc[i[0]].original_title)

Scooby-Doo! in Where's My Mummy?
Scooby-Doo! Return to Zombie Island
Scooby-Doo! & Batman: The Brave and the Bold
Scooby-Doo and the Alien Invaders
Scooby-Doo! and WWE: Curse of the Speed Demon
Scoob!
Scooby-Doo! Stage Fright
2 Guns